.dark-mode {
    background-color: black;
    color: white;
    background: black;
}

.light-mode {
    background-color: white;
    background: white;
    color: black;
}

.text {
    font-family: "Courier New", sans-serif;
    font-size: 24px;
    font-weight: normal;
}